* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container {
    display: flex;
}
.side-bar {
    width: 250px;
    background-color: rgb(28 36 52);
    height: 100vh;
    color: white;
}

.side-bar .logo {
    font-size: 32px;
}
.side-bar__header {
    display: flex;
    padding: 16px;
}
.side-bar__item {
    display: flex;
    padding: 16px;
}
.side-bar__header h1 {
    margin-left: 16px;
}
.side-bar__item span:first-child {
    margin: 0 8px 0 16px;
}
.side-bar__item:hover {
    background-color: rgb(13, 16, 16);
    cursor: pointer;
}
.side-bar__item:nth-of-type(3) {
    display: block;
}

.side-bar__item:nth-of-type(3) > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.side-bar__item:nth-of-type(3) > div:first-child:active +div {*/
/*    background: red;*/
/*    display: block;*/
/*}*/

.side-bar__item__child_item{
    display: none;
}

.side-bar__item__child_item:first-child {
    margin-top: 16px;
}
.side-bar__item__child_item {
    padding: 16px;
}

.body-container {
    width: calc(100% - 250px);
}
.table-header {
    display: flex;
}
.table-header__cell {
    /*background-color: red;*/
    flex-grow: 0;
}
.table-header__cell:first-child, .table-body .table-body__cell:first-child {
    width: 64px;
}
.table-header__cell:last-child, .table-body .table-body__cell:last-child {
    width: 150px;
}
.table-header__cell:nth-child(2),
.table-header__cell:nth-child(3),
.table-body .table-body__cell:nth-child(2),
.table-body .table-body__cell:nth-child(3) {
    /*background-color: green;*/
    flex-grow: 1;
}
.table-header {
    font-size: 24px;
    font-weight: 600;
}

.table-body, .table-header {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}
.table {
    max-width: 700px;
    margin: auto;
}
.edit-btn, .del-btn {
    color: white;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}
.edit-btn {
    background-color: green;
}
.del-btn {
    background-color: red;
}
.overlay {
    position: fixed;
    background-color: rgba(100, 100, 100, 0.3);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.dialog {
    background-color: white;
    width: 450px;
    border-radius: 5px;
}
.dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 16px;
    background-color: rgb(28 36 52);
    color: white;
}
.dialog__header__icon{
    cursor: pointer;
    padding: 2px;
}
.dialog__body__input {
    padding: 10px;
    position: relative;
}
.dialog__body__input span {
    position: absolute;
    top: 35%;
    left: 30px;
    color: #aaa;
}
.dialog__body__input input {
    width: 100%;
    font-size: 16px;
    padding: 8px;
}
.dialog__body__input input:focus + span {
    color: #333;
    top: 0;
    left: 20px;
    background-color: white;
}
.dialog__body__input input:focus ~ .dropdown {
    display: block;
}
.dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: white;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
}
.dropdown__item {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}
.dialog__body__input .icon {
    position: absolute;
    left: 93%;
}

.dialog__action {
    display: flex;
    padding: 4px;
}
.dialog__action button {
    flex-grow: 1;
    margin: 4px;
    padding: 8px;
    font-size: 16px;
}
.dialog__action button:first-child {
    background-color: red;
    color: white;
    border: none
}
.dialog__action button:last-child {
    background-color: green;
    color: white;
    border: none
}









