body {
    position: relative;
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    top: 0;
    position: sticky;
    background-color: #ffffff;
    z-index: 2;
}


/* general css for .nav-group */
.nav-group {
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 15px;
}

.nav-group button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.nav-group button span {
    font-size: 20px;
    padding: 10px;
}

.sidebar-extend-btn button:hover {
    background-color: #f0f0f0;
}

.back-btn {
    display: none;
}

/* general CSS for search-group */

.search-group {
    display: flex;
    align-items: center;
}

/* remove the background, border & outline of input & button */
.search-bar input[type="text"],
.search-bar button {
    font-size: 18px;
    padding: 10px;
    border-style: none;
    outline: none;
    background-color: transparent;
}

.search-bar {
    border: 1px solid #cccccc;
    border-radius: 20px;
    margin-right: 5px;
    position: relative;
}

.search-bar__search-box {
    display: flex;
    flex-grow: 1;
}

.search-bar__search-box:focus-within {
    border-radius: 20px 0 0 20px;
    border: 1px solid #0000ff;
}

.search-bar__search-box > span:first-child {
    display: none;
}

.search-bar__search-box:focus-within > span:first-child {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 15px;
}

.search-bar__search-box:focus-within > input[type="text"] {
    padding-left: 45px;
}

.search-bar > button {
    background-color: #f8f8f8;
    border-left: 1px solid #cccccc;
    padding: 5px 20px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.search-group > div > button:hover {
    background-color: #e0e0e0;
}

.open-search-bar-btn button, .voice-search-btn button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.notation-below {
    position: relative;
}

.notation {
    display: none;
    white-space: nowrap;
}

.notation-below:hover .notation {
    display: block;
    position: absolute;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 12px;
    margin-top: 15px;

    left: 50%;
    transform: translateX(-50%);
}

.open-search-bar-btn span, .voice-search-btn span {
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}


/* general CSS for .settings-group */
.settings-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.settings-group .settings-btn button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-group .settings-btn span {
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.login-btn button {
    background-color: transparent;
    border: 1px solid #f0f0f0;
    padding: 10px;
    border-radius: 15px;
    color: #0000ff;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 5px;
}

.login-btn button:hover {
    background-color: #e2f3fd;
}

.login-btn button span:first-child {
    font-size: 18px;
}

/* general CSS for .sidebar-short */
.sidebar-short {
    position: fixed;
    left: 0;
    width: 80px;
    padding: 0 3px;
    background-color: #ffffff;
}

.sidebar-short ul {
    list-style: none;
}

.sidebar-short li a {
    text-decoration: none;
    display: block;
    padding: 15px 1px;
    border-radius: 10px;
}

.sidebar-short li a:hover {
    background-color: #f0f0f0;
}

.sidebar-short li span {
    display: block;
    text-align: center;
    font-size: 11px;
    padding: 5px 2px;
    color: #000000;
}

.sidebar-short li span:first-child {
    font-size: 16px;
}

/* general CSS for .sidebar-full */
.sidebar-full {
    display: none;
}

#sidebar-extend:checked ~ .body-container .sidebar-short {
    display: none;
}

#sidebar-extend:checked ~ .body-container .sidebar-full {
    display: block;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 4;

}

.sidebar-full .nav-group {
    padding: 10px;
}

.nav, .sub-nav {
    list-style: none;
}

.nav {
    max-height: calc(100vh - 60px);
    overflow-y: hidden;
}

.nav:hover{
    overflow-y: scroll;
}

.nav__item {
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

.nav__item > div {
    margin: 10px;
    font-weight: 600;
}

.nav__link{
    text-decoration: none;
    font-weight: 400;
    color: #444444;
    margin-right: 5px;
    font-size: 13px;
}

.sub-nav__link {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

.sub-nav__link:hover {
    background-color: #f0f0f0;
}

.sub-nav__link span:first-child {
    display: inline-block;
    width: 30px;
}

.sub-nav__link span:last-child {
    font-size: 14px;
    font-weight: 400;
}

.bg--lightgray{
    background-color: #f0f0f0;
}

.overlay {
    display: none;
}

/********** Responsive Design *********/
/* mobile interface */
@media screen and (min-width: 240px) {
    .back-btn button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 50%;
    }

    .back-btn button span {
        font-size: 20px;
        padding: 8px;
    }

    .back-btn button:hover {
        background-color: #f0f0f0;
    }

    /* By default, the search-bar is hidden */
    .search-bar {
        display: none;
    }

    .search-group {
        margin-left: auto;
    }

    #show-search-bar:checked ~ .nav-group,
    #show-search-bar:checked ~ .settings-group,
    #show-search-bar:checked ~ .search-group .open-search-bar-btn {
        display: none;
    }

    #show-search-bar:checked ~ .back-btn {
        display: block;
    }

    #show-search-bar:checked ~ .search-group {
        width: 60vw;
        margin-left: 0;
    }

    #show-search-bar:checked ~ .search-group .search-bar {
        display: flex;
    }

    /*.search-bar input[type="text"] {*/
    /*    flex-grow: 1;*/
    /*}*/

    #show-search-bar:checked ~ .search-group .voice-search-btn:hover .tooltip-right-edge {
        left: auto;
        right: 0;
        transform: translateX(0);
    }

    /***** sidebar *****/
    .sidebar-short {
        display: none;
    }

    /** Make an overlay **/
    #sidebar-extend:checked ~ .body-container .overlay {
        display: block;
        z-index: 3;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

}

/* small tablets interface */
@media screen and (min-width: 768px) {
    .open-search-bar-btn {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .search-group {
        width: 50%;
        margin-left: 0;
    }

    .search-bar {
        display: flex;
        flex-grow: 1;
    }

    .search-bar input[type="text"] {
        flex-grow: 1;
    }

    .voice-search-btn button {
        background-color: #f5f5f5;
    }

    .voice-search-btn button:hover {
        background-color: #cccccc;
    }

    .sidebar-short {
        display: block;
    }

}
