/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffff00;
    padding: 10px;
}

/* mobile interface */
@media screen and (max-width: 600px) {
    /* hide the items on the navbar*/
    nav {
        display: none;
    }

    .menu-icon i {
        font-size: 24px;
        padding: 20px;
        border: 2px solid #ffffe0;
        border-radius: 50%;
    }

    /* By default, the menu for mobile interface is hidden */
    .menu-mobile {
        display: none;
    }

    body {
        position: relative;
    }

    /* The menu will be shown when the icon is clicked */
    #show-menu-mobile:checked ~ .menu-mobile {
        display: block;
        z-index: 2;
        width: 40%;
        position: fixed;
        top: 0;
        height: 100vh;
        background-color: #ff4500;
    }

    .menu-mobile a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5em;

        display: block;
        padding: 20px 40px;
    }

    .nav--mobile {
        list-style-type: none;
    }

    /* By default, lv2 menu is not shown */
    .sub-nav--mobile {
        display: none;
        list-style: none;
    }

    /* When the lv1 menu is focused or active, the lv2 menu will be shown */
    .nav--mobile > li > a:focus-within + .sub-nav--mobile {
        display: block;
        padding-left: 15px;
        background-color: #ff4500;
    }

    .nav--mobile a:hover {
        background-color: #90ee90;
        border-radius: 5px;
    }

    .sub-nav--mobile a:hover {
        background-color: #0000ff;
        border-radius: 5px;
    }

    .close-btn {
        padding: 6px;
        border-radius: 50%;
        border: none;
        background-color: darkblue;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .close-btn i {
        font-size: 16px;
        color: #ffffff;
    }

    .overlay {
        display: none;
    }

    #show-menu-mobile:checked ~ .overlay {
        display: block;
        z-index: 1;

        position: fixed;
        background-color: rgb(0, 0, 0, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
    }

}

/* tablets & desktop interface */
@media screen and (min-width: 600px) {
    .menu-icon {
        display: none;
    }

    .menu-mobile {
        display: none;
    }

    .nav--pc {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        position: relative;
    }

    .nav--pc, .sub-nav--pc {
        list-style: none;
    }

    .nav--pc > li > a {
        display: block;
        padding: 20px 10px;

        text-decoration: none;
        font-size: 24px;
        color: #000000;
        font-weight: 600;
    }

    .nav--pc > li:hover {
        background-color: #add8e6;
        border-radius: 10px;
    }

    /* By default, lv2 menu is hidden */
    .sub-nav--pc {
        display: none;
    }

    .nav--pc > li:hover .sub-nav--pc, .sub-nav--pc:hover {
        display: block;
        position: absolute;
        top: 100%;
        /* create a space between the content of lv1 & lv2 menu
         * without losing the :hover state
         * because the padding belongs to the lv2 menu
         * (lv2 menu is right below lv1 due to using top: 100%)
         */
        padding-top: 10px;
    }

    .sub-nav--pc a {
        display: block;
        padding: 10px;
        border: 1px solid #ffffff;
        border-radius: 6px;

        text-decoration: none;
        font-size: 22px;
        background-color: #9400d3;
        color: #ffffff;
    }

    .sub-nav--pc a:hover {
        background-color: #ff0000;
    }

}
