/*selector theo the*/
h1{
    text-align: center;
    color: #191970
}

/*selector theo class*/
.product-item{
    color: #555555;
    margin-left: 24px;
    font-size: 18px;
}

/*selector theo id*/
#best-seller{
    color: #9400d3;
}

/*selector con*/
section > h2{
    font-size: 28px;
    color: #ff8c00;
}

/*selector anh chi em*/
h2 + ul{
    padding-left: 30px;
    color: #ff0000;
    list-style-type: none;
    font-size: 20px;
}



